<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ehr.endpoint" value="http://touchworks/unity/unityservice.svc/json"/>
    <add key="svc.username" value="SummitSmarteHealth"/>
    <add key="svc.password" value="SummitSmarteHealth123!!"/>
    <add key="ehr.username" value="EPRESLEY"/>
    <add key="appname" value="SummitSmarteHealth.TestApp"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
