<hr style="margin-bottom:5px;" />
<div style="text-align:center; padding-bottom:5px;">
    @Html.ActionLink("[Home]", "Index")
    &nbsp;
    @Html.ActionLink("[View/Administer]", "Log")
    &nbsp;
    @Html.ActionLink("[Add Lot]", "AddLot")
</div>
