<span style="font-size:14pt" class="error-msg">@TempData["LotNotFoundMsg"]</span> <br />
<div class="lot-help-section">
    <p>
        Here are a couple of things to check:
        <ul>
            <li>Is the lot number correct?</li>
            <li>Did you select the correct site?</li>
            <li>Are you sure this lot was input into the system?</li>
        </ul>
        Do you want to add a new lot?  @Html.ActionLink("Click Here", "AddLot")
    </p>
</div>
